<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
</head>
<body>
<form  th:action="@{/logout}" method="post">
    <input type="submit" value="Logout">
</form>
<form method="POST" ACTION="saveUser">
    <label for="Name">Name</label>
    <input name="name" type="text" id="Name"/>
    <br>
    <label for="surname">Surname</label>
    <input name="surname" type="text" id="surname"/>
    <br>

    <label>Username</label>
    <input name="username" type="text" id="username"/>
    <br>
    <label>Password</label>
    <input name="password" type="text" id="password"/>
    <br>


    <br>
    <br>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" th:value="${ROLE_ADMIN}" id="flexCheckDefault" name="admin">
        <label class="form-check-label" for="flexCheckDefault">
            Admin
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" th:value="${ROLE_USER}" id="flexCheckChecked" name="user">
        <label class="form-check-label" for="flexCheckChecked">
            User
        </label>
    </div>
    <br>
    <br>
    <input type="submit" value="ok"/>

</form>
</body>
</html>