<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Update the user</title>
</head>
<body>
<form  th:action="@{/logout}" method="post">
  <input type="submit" value="Logout">
</form>
<form th:method="POST" th:action="@{/admin/update}" th:object="${userForUpdate}">
  <input type="hidden" name="idToUpdate" th:value="${userForUpdate.getId()}"/>
  <label for="name"> Enter a new name</label>
  <input type="text" th:field="*{name}" id="name">
  <br>
  <label for="surName"> Enter a new surname</label>
  <input type="text" th:field="*{surname}" id="surName">
  <br>
  <label for="username"> Enter a new username</label>
  <input type="text" th:field="*{username}" id="username">
  <br>
  <label for="password"> Enter a new password</label>
  <input type="text" th:field="*{password}" id="password">
  <br>
  <br>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" th:value="${ROLE_ADMIN}" id="flexCheckDefault" name="admin">
    <label class="form-check-label" for="flexCheckDefault">
      Admin
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" th:value="${ROLE_USER}" id="flexCheckChecked" name="user">
    <label class="form-check-label" for="flexCheckChecked">
      User
    </label>
  </div>

  <br>
  <input type="submit" value="Update">

</form>
</body>
</html>